body{
    background-color: whitesmoke;    
}

h2{
    text-align: center;
}

#nominaForm{

    text-align: center;
}

.edit-button{
    color: #fff;
    background-color: blue;

}

.delete-button{
    color: #fff;
    background-color: red;
}

